[package]
name = "minimap2"
version = "0.1.9"
edition = "2021"
authors = ["Joseph Guhlin <joseph.guhlin@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Bindings to libminimap2"
repository = "https://github.com/jguhlin/minimap2-rs"
categories = ["science"]
keywords = ["bioinformatics", "fasta", "alignment", "fastq"]
exclude = [
	"**/*.fasta",
	"libsfasta/test_data/",
	"*.profdata",
	"*.mmi",
	"**/*.mmi",
	"minimap2-sys/"
]


[dependencies]
libc = "0.2.139"
bytelines = "2.4.0"
simdutf8 = "0.1.4"
flate2 = { version = "1.0.25", features = ["zlib-ng"], default-features = false }
fffx = "0.1.1"

# Dep for development
#minimap2-sys = { path = "./minimap2-sys" }
minimap2-sys = "0.1.8"

# [profile.release]
# opt-level = 3
# lto = "fat"
# codegen-units  = 1

[profile.dev.package."*"]
opt-level = 3

[features]
default = []
mm2-fast = [] # Not working yet!
sse = ["minimap2-sys/sse"]
