[package]
name = "minimappers2"
version = "0.1.0"
edition = "2021"

[lib]
name = "minimappers2"
crate-type = ["cdylib"]

[dependencies]
fffx = "0.1.2"
# minimap2 = { version = "0.1.9", features = ["simde"] }
# minimap2-sys = { version = "0.1.8", features = ["simde"] }
minimap2 = { path = "../", features = ["simde"] }
minimap2-sys = { path = "../minimap2-sys", features = ["simde"] }
crossbeam = "0.8.2"
mimalloc = {version = "0.1.34", default-features = false }

pyo3 = { version = "0.17.0", features = ["extension-module", "abi3"] }
polars = "0.26.1"
pyo3-polars = "0.1.0"

[profile.release]
opt-level = 3
lto = "fat"
codegen-units  = 1

[profile.dev]
debug = true

[profile.dev.package."*"]
opt-level = 3