name: fakeminimap2

on:
  pull_request:
    branches: [ "main" ]
    paths: 
      - 'fakeminimap2/'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      submodules: 'recursive'
    - run: cd fakeminimap2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  test-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      submodules: 'recursive'
    - run: cd fakeminimap2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
