name: minimap2-sys

on:
  pull_request:
    branches: [ "main" ]
    #paths: 
      #- 'minimap2-sys/'

env:
  CARGO_TERM_COLOR: always

jobs:
  test-musl:
    runs-on: ubuntu-latest
    container: messense/rust-musl-cross:x86_64-musl
    steps:
    - uses: actions/checkout@v4
      submodules: 'recursive'
    - run: cd minimap2-sys
    - name: Build
      run: cargo build
    - name: Run minimap2-sys tests
      run: cargo test
    - name: Run minimap2-sys simde tests
      run: cargo test --features simde

  test-ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      submodules: 'recursive'
    - run: cd minimap2-sys
    - name: Run minimap2-sys tests
      run: cargo test
    - name: Run minimap2-sys simde tests
      run: cargo test --features simde

  test-android:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      submodules: 'recursive'
    - name: Install Rust Cross
      run: rustup target add aarch64-linux-android armv7-linux-androideabi i686-linux-android x86_64-linux-android
    - run: cargo install cross --git https://github.com/cross-rs/cross
    - run: cd minimap2-sys
    - name: Run minimap2-sys tests on Android aarch64
      run: cross test --target aarch64-linux-android
    - name: Run minimap2-sys tests on Android armv7
      run: cross test --target armv7-linux-androideabi
    - name: Run minimap2-sys tests on Android i686
      run: cross test --target i686-linux-android
    - name: Run minimap2-sys tests on Android x86_64
      run: cross test --target x86_64-linux-android

  test-macos-13:
    runs-on: macos-13
    steps:
    - uses: actions/checkout@v3
    - run: cd minimap2-sys
    - name: Run minimap2-sys tests
      run: cargo test
    - name: Run minimap2-sys simde tests
      run: cargo test --features simde
      
  test-macos-14:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
      submodules: 'recursive'
    - run: cd minimap2-sys
    - name: Run minimap2-sys tests
      run: cargo test
    - name: Run minimap2-sys simde tests
      run: cargo test --features simde
      
  test-macos-15:
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v4
      submodules: 'recursive'
    - run: cd minimap2-sys
    - name: Run minimap2-sys tests
      run: cargo test
    - name: Run minimap2-sys simde tests
      run: cargo test --features simde
    - name: Run minimap2-sys zlib-ng
      run: cargo test --features zlib-ng
    - name: Run minimap2-sys static
      run: cargo test --features static
